.column_1{
    height: 400px;
    background-image: url("img_test.jpeg");
    background-repeat:no-repeat;
    background-color: cadetblue;
    background-attachment:fixed;
    background-position: center;
}

.column_2{
    height: 400px;
    background: green url("astro_helmet.jpg") no-repeat scroll;
    background-size: cover;
}

.column_3{
    background: blue url("https://sxcontent9668.azureedge.us/cms-assets/assets/make_life_multiplanetary_desktop_3fa7cff73c.jpg") no-repeat scroll;
    background-size: cover;
    height: 400px;
}